@* Hämtar in och använder modellen av utbildningar.  *@
@model IEnumerable<MVC.Models.Education>

<div class="display-educations">
    @* En foreach loop för att plocka ut samtliga rader i tabellen och sortera dem nedåtgående. *@
    @foreach (var item in Model.OrderByDescending(item => item.ID))
    {
    <div>
        @* Kod som renderar utbildningens och skolans namn. *@
        <h4 class="text-uppercase">@Html.DisplayFor(modelItem => item.Name) | @Html.DisplayFor(modelItem => item.School)</h4>
    </div>
        @* Om utbildningen har ett slutdatum rendera start och slutdatum, annars bara startdatum. *@
        if (item.EndDate == null)
        {
            <div class="educations-body">
                <p class="lead">@Html.DisplayFor(modelItem => item.StartDate)</p>
            </div>
        }
        else
        {
            <div class="educations-body">
                <p class="lead">@Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</p>
            </div>
        }
    }
</div>
