@model IEnumerable<MVC.Models.Person>

@foreach (var item in Model)
{
    <h1 class="masthead-heading text-uppercase mb-2">
        @Html.DisplayFor(modelItem => item.Name)
    </h1>
    <p class="masthead-subheading font-weight-light mb-0">
        @Html.DisplayFor(modelItem => item.Address) - @Html.DisplayFor(modelItem => item.ZipCode), @Html.DisplayFor(modelItem => item.City) - <a class="text-secondary" href="callto:+46737470013">@Html.DisplayFor(modelItem => item.PhoneNumber)</a> - <a class="text-uppercase text-secondary" href="mailto:sebastianstrandberg@live.se">@Html.DisplayFor(modelItem => item.Email)</a>
    </p>
}

